<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kSyncModels</key>
	<dict>
		<key>Pipe</key>
		<dict>
			<key>requestObjectMappingForRemoteObjectCreation</key>
			<dict>
				<key>pipeMake</key>
				<string>pMake</string>
				<key>pipeMaxPressure</key>
				<string>pMaxPressure</string>
				<key>pipeCurrentContainment</key>
				<string>pCurrentContainment</string>
				<key>pipeCurrentPressure</key>
				<string>pPressure</string>
				<key>pipeCurrentTemperature</key>
				<string>pTemperature</string>
				<key>pipeDiameter</key>
				<string>pDiameter</string>
				<key>pipeHealthStatus</key>
				<string>pHealthStatus</string>
				<key>pipeLength</key>
				<string>pLength</string>
				<key>pipeLocation</key>
				<string>pLocation</string>
				<key>pipeMaxTemperature</key>
				<string>pMaxTemperature</string>
			</dict>
			<key>requestObjectMappingForRemoteObjectUpdation</key>
			<dict>
				<key>pipeMaxPressure</key>
				<string>pMaxPressure</string>
				<key>pipeMake</key>
				<string>pMake</string>
				<key>pipeCurrentContainment</key>
				<string>pCurrentContainment</string>
				<key>pipeCurrentPressure</key>
				<string>pPressure</string>
				<key>pipeCurrentTemperature</key>
				<string>pTemperature</string>
				<key>pipeDiameter</key>
				<string>pDiameter</string>
				<key>pipeHealthStatus</key>
				<string>pHealthStatus</string>
				<key>pipeLength</key>
				<string>pLength</string>
				<key>pipeLocation</key>
				<string>pLocation</string>
				<key>pipeMaxTemperature</key>
				<string>pMaxTemperature</string>
			</dict>
			<key>responseObjectMappingForRemoteObjectUpdate</key>
			<dict>
				<key>updatedAt</key>
				<string>lastServerSyncDate</string>
			</dict>
			<key>responseObjectMappingForRemoteObjectCreation</key>
			<dict>
				<key>createdAt</key>
				<string>lastServerSyncDate</string>
				<key>objectId</key>
				<string>pipeID</string>
			</dict>
			<key>objectMappingForManagedObject</key>
			<dict>
				<key>pipeCurrentContainment</key>
				<string>pCurrentContainment</string>
				<key>pipeCurrentPressure</key>
				<string>pPressure</string>
				<key>pipeCurrentTemperature</key>
				<string>pTemperature</string>
				<key>pipeDiameter</key>
				<string>pDiameter</string>
				<key>pipeHealthStatus</key>
				<string>pHealthStatus</string>
				<key>pipeLength</key>
				<string>pLength</string>
				<key>pipeLocation</key>
				<string>pLocation</string>
				<key>pipeMake</key>
				<string>pMake</string>
				<key>pipeMaxPressure</key>
				<string>pMaxPressure</string>
				<key>pipeMaxTemperature</key>
				<string>pMaxTemperature</string>
				<key>objectId</key>
				<string>pipeID</string>
				<key>updatedAt</key>
				<string>lastServerSyncDate</string>
			</dict>
			<key>CoreDataEntityName</key>
			<string>Pipe</string>
			<key>identificationAttribute</key>
			<string>pipeID</string>
			<key>lastUpdatedDateContainerAttribute</key>
			<string>lastUpdatedDate</string>
			<key>lastServerSyncedDataContainerAttribute</key>
			<string>lastServerSyncDate</string>
			<key>syncStatusFlagAttribute</key>
			<string>syncStatus</string>
			<key>URLForFetchMethod</key>
			<string>/1/classes/Pipeline</string>
			<key>URLForNewServerObject</key>
			<string>/1/classes/Pipeline</string>
			<key>URLForFetchAllMethod</key>
			<dict>
				<key>serviceURL</key>
				<string>/1/classes/Pipeline</string>
				<key>queryParameters</key>
				<array/>
				<key>bodyParameters</key>
				<dict/>
			</dict>
			<key>URLForDeltaFetchMethod</key>
			<dict>
				<key>bodyParameters</key>
				<dict/>
				<key>queryParameters</key>
				<array/>
				<key>serviceURL</key>
				<string>/1/classes/Pipeline</string>
			</dict>
			<key>URLPathPatternForUpdateRemoteObject</key>
			<string>/1/classes/Pipeline/:identificationAttribute</string>
			<key>URLForDeleteServerObject</key>
			<dict>
				<key>HTTPMethod</key>
				<string></string>
				<key>serviceURL</key>
				<string>/1/classes/Pipeline/</string>
				<key>pattern</key>
				<string>/1/classes/Pipeline/:identificationAttribute</string>
				<key>appendItems</key>
				<array>
					<dict>
						<key>type</key>
						<string>mapping</string>
						<key>value</key>
						<string>pipeID</string>
					</dict>
				</array>
			</dict>
			<key>URLForUpdateServerObject</key>
			<dict>
				<key>HTTPMethod</key>
				<string></string>
				<key>serviceURL</key>
				<string>/1/classes/Pipeline/</string>
				<key>pattern</key>
				<string>/1/classes/Pipeline/:identificationAttribute</string>
				<key>appendItems</key>
				<array>
					<dict>
						<key>type</key>
						<string>mapping</string>
						<key>value</key>
						<string>pipeID</string>
					</dict>
				</array>
			</dict>
			<key>keyPathToSearch</key>
			<string>results</string>
			<key>URLToGetDeletedRecordsFromServer</key>
			<string></string>
			<key>relationshipMappingForManagedObject</key>
			<dict/>
		</dict>
		<key>Turbine</key>
		<dict>
			<key>requestObjectMappingForRemoteObjectUpdation</key>
			<dict>
				<key>trubineCurrentRotationSpeed</key>
				<string>trbRotationSpeed</string>
				<key>turbineCapacity</key>
				<string>trbCapacity</string>
				<key>turbineCompressorHealth</key>
				<string>trbCompressorHealth</string>
				<key>turbineCurrentRPM</key>
				<string>trbCurrentRPM</string>
				<key>turbineLocation</key>
				<string>trbLocation</string>
				<key>turbineName</key>
				<string>trbName</string>
				<key>turbineOilLevel</key>
				<string>trbOilLevel</string>
				<key>turbinePressure</key>
				<string>trbPressure</string>
				<key>turbineRotorCount</key>
				<string>trbRotorCount</string>
				<key>turbineTemperature</key>
				<string>trbTemp</string>
			</dict>
			<key>requestObjectMappingForRemoteObjectCreation</key>
			<dict>
				<key>trubineCurrentRotationSpeed</key>
				<string>trbRotationSpeed</string>
				<key>turbineCapacity</key>
				<string>trbCapacity</string>
				<key>turbineCompressorHealth</key>
				<string>trbCompressorHealth</string>
				<key>turbineCurrentRPM</key>
				<string>trbCurrentRPM</string>
				<key>turbineLocation</key>
				<string>trbLocation</string>
				<key>turbineName</key>
				<string>trbName</string>
				<key>turbineOilLevel</key>
				<string>trbOilLevel</string>
				<key>turbinePressure</key>
				<string>trbPressure</string>
				<key>turbineRotorCount</key>
				<string>trbRotorCount</string>
				<key>turbineTemperature</key>
				<string>trbTemp</string>
			</dict>
			<key>responseObjectMappingForRemoteObjectUpdate</key>
			<dict>
				<key>updatedAt</key>
				<string>lastServerSyncDate</string>
			</dict>
			<key>responseObjectMappingForRemoteObjectCreation</key>
			<dict>
				<key>createdAt</key>
				<string>lastServerSyncDate</string>
				<key>objectId</key>
				<string>turbineID</string>
			</dict>
			<key>objectMappingForManagedObject</key>
			<dict>
				<key>trubineCurrentRotationSpeed</key>
				<string>trbRotationSpeed</string>
				<key>turbineCapacity</key>
				<string>trbCapacity</string>
				<key>turbineCompressorHealth</key>
				<string>trbCompressorHealth</string>
				<key>turbineCurrentRPM</key>
				<string>trbCurrentRPM</string>
				<key>turbineLocation</key>
				<string>trbLocation</string>
				<key>turbineName</key>
				<string>trbName</string>
				<key>turbineOilLevel</key>
				<string>trbOilLevel</string>
				<key>turbinePressure</key>
				<string>trbPressure</string>
				<key>turbineRotorCount</key>
				<string>trbRotorCount</string>
				<key>turbineTemperature</key>
				<string>trbTemp</string>
				<key>updatedAt</key>
				<string>lastServerSyncDate</string>
				<key>objectId</key>
				<string>turbineID</string>
			</dict>
			<key>CoreDataEntityName</key>
			<string>Turbine</string>
			<key>identificationAttribute</key>
			<string>turbineID</string>
			<key>lastUpdatedDateContainerAttribute</key>
			<string>lastUpdatedDate</string>
			<key>lastServerSyncedDataContainerAttribute</key>
			<string>lastServerSyncDate</string>
			<key>syncStatusFlagAttribute</key>
			<string>syncStatus</string>
			<key>URLForFetchMethod</key>
			<string>/1/classes/Turbine</string>
			<key>URLForNewServerObject</key>
			<string>/1/classes/Turbine</string>
			<key>URLForFetchAllMethod</key>
			<dict>
				<key>serviceURL</key>
				<string>/1/classes/Turbine</string>
				<key>queryParameters</key>
				<array/>
				<key>bodyParameters</key>
				<dict/>
			</dict>
			<key>URLForDeltaFetchMethod</key>
			<dict>
				<key>bodyParameters</key>
				<dict/>
				<key>queryParameters</key>
				<array/>
				<key>serviceURL</key>
				<string>/1/classes/Turbine</string>
			</dict>
			<key>URLPathPatternForUpdateRemoteObject</key>
			<string>/1/classes/Turbine/:identificationAttribute</string>
			<key>URLForDeleteServerObject</key>
			<dict>
				<key>HTTPMethod</key>
				<string></string>
				<key>serviceURL</key>
				<string>/1/classes/Turbine/</string>
				<key>pattern</key>
				<string>/1/classes/Turbine/:identificationAttribute</string>
				<key>appendItems</key>
				<array>
					<dict>
						<key>type</key>
						<string>mapping</string>
						<key>value</key>
						<string>turbineID</string>
					</dict>
				</array>
			</dict>
			<key>URLForUpdateServerObject</key>
			<dict>
				<key>HTTPMethod</key>
				<string></string>
				<key>serviceURL</key>
				<string>/1/classes/Turbine/</string>
				<key>pattern</key>
				<string>/1/classes/Turbine/:identificationAttribute</string>
				<key>appendItems</key>
				<array>
					<dict>
						<key>type</key>
						<string>mapping</string>
						<key>value</key>
						<string>turbineID</string>
					</dict>
				</array>
			</dict>
			<key>keyPathToSearch</key>
			<string>results</string>
			<key>URLToGetDeletedRecordsFromServer</key>
			<string></string>
			<key>relationshipMappingForManagedObject</key>
			<dict/>
		</dict>
		<key>Boiler</key>
		<dict>
			<key>requestObjectMappingForRemoteObjectUpdation</key>
			<dict>
				<key>boilerTemperature</key>
				<string>bTemp</string>
				<key>boilerPressure</key>
				<string>bPressure</string>
				<key>boilerName</key>
				<string>bName</string>
				<key>boilerMake</key>
				<string>bMake</string>
				<key>boilerLocation</key>
				<string>bLocation</string>
				<key>boilerHealthStatus</key>
				<string>bHealthStatus</string>
				<key>boilerCapacity</key>
				<string>bCapacity</string>
				<key>boilerCurrentContainment</key>
				<string>bCurrentContainment</string>
			</dict>
			<key>responseObjectMappingForRemoteObjectUpdate</key>
			<dict>
				<key>updatedAt</key>
				<string>lastServerSyncDate</string>
			</dict>
			<key>responseObjectMappingForRemoteObjectCreation</key>
			<dict>
				<key>createdAt</key>
				<string>lastServerSyncDate</string>
				<key>objectId</key>
				<string>boilerID</string>
			</dict>
			<key>requestObjectMappingForRemoteObjectCreation</key>
			<dict>
				<key>boilerTemperature</key>
				<string>bTemp</string>
				<key>boilerPressure</key>
				<string>bPressure</string>
				<key>boilerName</key>
				<string>bName</string>
				<key>boilerMake</key>
				<string>bMake</string>
				<key>boilerLocation</key>
				<string>bLocation</string>
				<key>boilerHealthStatus</key>
				<string>bHealthStatus</string>
				<key>boilerCapacity</key>
				<string>bCapacity</string>
				<key>boilerCurrentContainment</key>
				<string>bCurrentContainment</string>
			</dict>
			<key>objectMappingForManagedObject</key>
			<dict>
				<key>boilerCurrentContainment</key>
				<string>bCurrentContainment</string>
				<key>boilerCapacity</key>
				<string>bCapacity</string>
				<key>boilerHealthStatus</key>
				<string>bHealthStatus</string>
				<key>boilerLocation</key>
				<string>bLocation</string>
				<key>boilerMake</key>
				<string>bMake</string>
				<key>updatedAt</key>
				<string>lastServerSyncDate</string>
				<key>boilerName</key>
				<string>bName</string>
				<key>boilerPressure</key>
				<string>bPressure</string>
				<key>boilerTemperature</key>
				<string>bTemp</string>
				<key>objectId</key>
				<string>boilerID</string>
			</dict>
			<key>CoreDataEntityName</key>
			<string>Boiler</string>
			<key>identificationAttribute</key>
			<string>boilerID</string>
			<key>lastUpdatedDateContainerAttribute</key>
			<string>lastUpdatedDate</string>
			<key>lastServerSyncedDataContainerAttribute</key>
			<string>lastServerSyncDate</string>
			<key>syncStatusFlagAttribute</key>
			<string>syncStatus</string>
			<key>URLForFetchMethod</key>
			<string>/1/classes/Boiler</string>
			<key>URLForNewServerObject</key>
			<string>/1/classes/Boiler</string>
			<key>URLForFetchAllMethod</key>
			<dict>
				<key>serviceURL</key>
				<string>/1/classes/Boiler</string>
				<key>queryParameters</key>
				<array/>
				<key>bodyParameters</key>
				<dict/>
			</dict>
			<key>URLForDeltaFetchMethod</key>
			<dict>
				<key>bodyParameters</key>
				<dict/>
				<key>queryParameters</key>
				<array/>
				<key>serviceURL</key>
				<string>/1/classes/Boiler</string>
			</dict>
			<key>URLPathPatternForUpdateRemoteObject</key>
			<string>/1/classes/Boiler/:identificationAttribute</string>
			<key>URLForDeleteServerObject</key>
			<dict>
				<key>HTTPMethod</key>
				<string></string>
				<key>serviceURL</key>
				<string>/1/classes/News/</string>
				<key>pattern</key>
				<string>/1/classes/News/:identificationAttribute</string>
				<key>appendItems</key>
				<array>
					<dict>
						<key>type</key>
						<string>mapping</string>
						<key>value</key>
						<string>boilerID</string>
					</dict>
				</array>
			</dict>
			<key>URLForUpdateServerObject</key>
			<dict>
				<key>HTTPMethod</key>
				<string></string>
				<key>serviceURL</key>
				<string>/1/classes/Boiler/</string>
				<key>pattern</key>
				<string>/1/classes/Boiler/:identificationAttribute</string>
				<key>appendItems</key>
				<array>
					<dict>
						<key>type</key>
						<string>mapping</string>
						<key>value</key>
						<string>boilerID</string>
					</dict>
				</array>
			</dict>
			<key>keyPathToSearch</key>
			<string>results</string>
			<key>URLToGetDeletedRecordsFromServer</key>
			<string></string>
			<key>relationshipMappingForManagedObject</key>
			<dict/>
		</dict>
		<key>Transformer</key>
		<dict>
			<key>requestObjectMappingForRemoteObjectUpdation</key>
			<dict>
				<key>transformerCurrentTemperature</key>
				<string>trsCurrentTemp</string>
				<key>transformerLocation</key>
				<string>trsLocation</string>
				<key>transformerMake</key>
				<string>trsMake</string>
				<key>transformerNickName</key>
				<string>trsName</string>
				<key>transformerOilLevel</key>
				<string>trsOilLevel</string>
				<key>transformerOperatingPower</key>
				<string>trsOperatingPower</string>
				<key>transformerType</key>
				<string>trsType</string>
				<key>transformerWindingCount</key>
				<string>trsWindingCount</string>
				<key>transformerWindingMake</key>
				<string>trsWindingMake</string>
			</dict>
			<key>requestObjectMappingForRemoteObjectCreation</key>
			<dict>
				<key>transformerCurrentTemperature</key>
				<string>trsCurrentTemp</string>
				<key>transformerLocation</key>
				<string>trsLocation</string>
				<key>transformerMake</key>
				<string>trsMake</string>
				<key>transformerNickName</key>
				<string>trsName</string>
				<key>transformerOilLevel</key>
				<string>trsOilLevel</string>
				<key>transformerOperatingPower</key>
				<string>trsOperatingPower</string>
				<key>transformerType</key>
				<string>trsType</string>
				<key>transformerWindingCount</key>
				<string>trsWindingCount</string>
				<key>transformerWindingMake</key>
				<string>trsWindingMake</string>
			</dict>
			<key>responseObjectMappingForRemoteObjectUpdate</key>
			<dict>
				<key>updatedAt</key>
				<string>lastServerSyncDate</string>
			</dict>
			<key>responseObjectMappingForRemoteObjectCreation</key>
			<dict>
				<key>createdAt</key>
				<string>lastServerSyncDate</string>
				<key>objectId</key>
				<string>transformerID</string>
			</dict>
			<key>objectMappingForManagedObject</key>
			<dict>
				<key>transformerCurrentTemperature</key>
				<string>trsCurrentTemp</string>
				<key>transformerLocation</key>
				<string>trsLocation</string>
				<key>transformerMake</key>
				<string>trsMake</string>
				<key>transformerNickName</key>
				<string>trsName</string>
				<key>transformerOilLevel</key>
				<string>trsOilLevel</string>
				<key>updatedAt</key>
				<string>lastServerSyncDate</string>
				<key>transformerOperatingPower</key>
				<string>trsOperatingPower</string>
				<key>transformerType</key>
				<string>trsType</string>
				<key>transformerWindingCount</key>
				<string>trsWindingCount</string>
				<key>transformerWindingMake</key>
				<string>trsWindingMake</string>
				<key>objectId</key>
				<string>transformerID</string>
			</dict>
			<key>CoreDataEntityName</key>
			<string>Transformer</string>
			<key>identificationAttribute</key>
			<string>transformerID</string>
			<key>lastUpdatedDateContainerAttribute</key>
			<string>lastUpdatedDate</string>
			<key>lastServerSyncedDataContainerAttribute</key>
			<string>lastServerSyncDate</string>
			<key>syncStatusFlagAttribute</key>
			<string>syncStatus</string>
			<key>URLForFetchMethod</key>
			<string>/1/classes/Transformer</string>
			<key>URLForNewServerObject</key>
			<string>/1/classes/Transformer</string>
			<key>URLForFetchAllMethod</key>
			<dict>
				<key>serviceURL</key>
				<string>/1/classes/Transformer</string>
				<key>queryParameters</key>
				<array/>
				<key>bodyParameters</key>
				<dict/>
			</dict>
			<key>URLForDeltaFetchMethod</key>
			<dict>
				<key>bodyParameters</key>
				<dict/>
				<key>queryParameters</key>
				<array/>
				<key>serviceURL</key>
				<string>/1/classes/Transformer</string>
			</dict>
			<key>URLPathPatternForUpdateRemoteObject</key>
			<string>/1/classes/Transformer/:identificationAttribute</string>
			<key>URLForDeleteServerObject</key>
			<dict>
				<key>HTTPMethod</key>
				<string></string>
				<key>serviceURL</key>
				<string>/1/classes/Transformer/</string>
				<key>pattern</key>
				<string>/1/classes/Transformer/:identificationAttribute</string>
				<key>appendItems</key>
				<array>
					<dict>
						<key>type</key>
						<string>mapping</string>
						<key>value</key>
						<string>transformerID</string>
					</dict>
				</array>
			</dict>
			<key>URLForUpdateServerObject</key>
			<dict>
				<key>HTTPMethod</key>
				<string></string>
				<key>serviceURL</key>
				<string>/1/classes/Transformer/</string>
				<key>pattern</key>
				<string>/1/classes/Transformer/:identificationAttribute</string>
				<key>appendItems</key>
				<array>
					<dict>
						<key>type</key>
						<string>mapping</string>
						<key>value</key>
						<string>transformerID</string>
					</dict>
				</array>
			</dict>
			<key>keyPathToSearch</key>
			<string>results</string>
			<key>URLToGetDeletedRecordsFromServer</key>
			<string></string>
			<key>relationshipMappingForManagedObject</key>
			<dict/>
		</dict>
	</dict>
	<key>remoteBaseURL</key>
	<string>https://api.parse.com</string>
	<key>defaultHeaders</key>
	<dict>
		<key>X-Parse-Application-Id</key>
		<string>TsEDR12ICJtD59JM92WslVurN0wh5JPuznKvroRc</string>
		<key>X-Parse-REST-API-Key</key>
		<string>4LC6oFNCyqLMFHSdPIPsxJoXHY6gTHGMG2kUcbwB</string>
	</dict>
</dict>
</plist>
